
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

.drugs {
    position: relative;
    padding: 0 0 25px;
    background: rgba(146, 115, 43, 0.1);
    min-height: 100vh;
    direction: ltr !important;
    font-family: Roboto-Regular;
}

.drugs * {
    direction: ltr !important;
    font-family: Roboto-Regular;
}

.drugs .tab-content {
    padding-top: 20px;
}

.drugs .nav-item .nav-link img {
    height: 44px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.drugs .nav .nav-link {
    transition: all 0.2s linear;
    color: #6D6D49 !important;
    font-size: 18px;
    padding: 15px 5px 10px;
    line-height: 24px;
    min-height: 105px;
    width: 100%;
}

.drugs .nav .nav-link span {
    width: 70%;
    display: inline-block;
}

.drugs .tab-pane {
    overflow: hidden;
}

.nav-holder {
    background-color: #fff;
}

.drugs .nav {
    padding: 15px 0 0;
    background-color: #fff;
    flex-wrap: nowrap;
    text-align: center;
}

.drugs .nav .nav-item {
    width: 25%;
    position: relative;
}
.drugs .nav .nav-link:before {
    content: "";
    position: absolute;
    height: 5px;
    background-color: #5d4409;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: all 0.2s linear;
}
.drugs .nav .nav-link.active:before {
    width: 100%;
    right: 0;
    left: unset;
}


  @media (max-width: 1024px){
    .drugs:before {
        right: -100px;
        width: 50%;
    }
}

@media (max-width: 991px){
    .drugs .nav .nav-link {
        display: inline-block;
    }
    .drugs:before {
        right: -200px;
        width: 75%;
    }
}

@media (max-width: 768px){
    .drugs .nav .nav-link {
        display: inline-block;
    }
    .drugs:before {
        right: -200px;
        width: 75%;
    }
}

#table_id tfoot {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    box-sizing: border-box;
}

#table_id tfoot * {
    display: block;
    border: none;
    box-sizing: border-box;
    padding: 5px 15px;
}

tfoot th {
    width: 50%;
    margin: 0;
    padding: 5px 10px !important;
    box-sizing: border-box !important;
    text-align: left;
}

#table_id tfoot tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 7px #d4d4d4;
    padding-top: 0px;
}

#table_id tfoot tr button.initSearch {
    display: block;
    margin: 25px auto 5px;
    padding: 9px 20px;
    background-color: #5d4409;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    opacity: 0.8;
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    text-align: center;
}

#table_id tfoot tr button.initSearch:hover {
    opacity: 1;
}

#table_id tfoot tr button.initSearch img {
    width: 20px;
    padding: 0;
    margin: 0 10px;
    margin-top: 2px;
}
#table_id tfoot tr th:nth-child(2),
#table_id tfoot tr th:nth-child(5),
#table_id tfoot tr th:nth-child(6),
#table_id tfoot tr th:nth-child(7),
#table_id tfoot tr th:nth-child(8),
#table_id tfoot tr th:nth-child(9),
#table_id tfoot tr th:nth-child(10),
#table_id tfoot tr th:nth-child(11),
#table_id tfoot tr th:nth-child(12),
#table_id tfoot tr th:nth-child(13),
#table_id tfoot tr th:nth-child(14),
#table_id tfoot tr th:nth-child(15),
#table_id tfoot tr th:nth-child(16),
#table_id tfoot tr th:nth-child(17),
#table_id thead tr th:nth-child(5),
#table_id thead tr th:nth-child(6),
#table_id thead tr th:nth-child(7),
#table_id thead tr th:nth-child(8),
#table_id thead tr th:nth-child(9),
#table_id thead tr th:nth-child(10),
#table_id thead tr th:nth-child(11),
#table_id thead tr th:nth-child(12),
#table_id thead tr th:nth-child(13),
#table_id thead tr th:nth-child(14),
#table_id thead tr th:nth-child(15),
#table_id thead tr th:nth-child(16),
#table_id tbody tr td:nth-child(5),
#table_id tbody tr td:nth-child(6),
#table_id tbody tr td:nth-child(7),
#table_id tbody tr td:nth-child(8),
#table_id tbody tr td:nth-child(9),
#table_id tbody tr td:nth-child(10),
#table_id tbody tr td:nth-child(11),
#table_id tbody tr td:nth-child(12),
#table_id tbody tr td:nth-child(13),
#table_id tbody tr td:nth-child(14),
#table_id tbody tr td:nth-child(15),
#table_id tbody tr td:nth-child(16) {
    display: none !important;
}

#table_id tfoot input,
#table_id tfoot select {
    width: 100%;
    border: solid 1px;
    border-radius: 3px;
    height: 36px;
    padding: 0px 15px;
}

#table_id tfoot tr th:nth-child(1) select {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 33%;
    height: 36px;
    border-radius: 3px 3px 3px 3px;
}
#table_id tfoot tr th:nth-child(1) {
    position: relative;
    width: 100%;
}
#table_id tfoot tr th:nth-child(1) input {
    border-radius: 3px 3px 3px 3px;
}

@media (max-width: 768px){
    #table_id tfoot tr th:nth-child(1) select {
        width: 60%;
    }
}

#table_id tfoot tr th label {
    padding: 0;
    padding-top: 10px;
}

.drugs-details {
    position: fixed;
    height: 90%;
    width: 80%;
    background-color: #fff;
    top: 5%;
    right: 10%;
    z-index: 10;
    border-radius: 15px;
    overflow: hidden;
    display: none;
    text-align: left;
}

.drugs-details div {
    height: 70px;
    padding: 0px 30px;
    line-height: 70px;
    border-bottom: solid 2px #e6e4e4;
    display: flex;
    justify-content: space-between;
}

.drugs-details h3 {
    font-size: 28px;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 70px;
}

.drugs-details button {
    float: right;
    background-color: transparent;
    border: none;
    color: #c3b6b6;
    font-size: 44px;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    min-width: unset !important;
}

.drugs-details ul {
    padding: 0;
    height: calc(100% - 70px);
    overflow: auto;
    width: 100%;
    padding-bottom: 20px;
}

.drugs-details ul li {
    list-style: none;
    width: 100%;
    padding: 5px 30px;
    font-size: 16px;
    display: flex;
}

.drugs-details ul li strong,
.drugs-details ul li span {
    width: 50%;
    align-self: center;
}

.drugs-details ul li span a img {
    width: 40px;
    padding: 10px 0;
}


.drugs-details ul li:nth-child(even) {
    background-color: #efeded;
}


.drugs-overLayer {
    position: fixed;
    z-index: 9;
    display: none;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
}

div#table_id_wrapper,
#table_id {
    position: static;
}


.table-holder {
    padding-top: 270px;
    position: relative;
}

img.drugsLoader {
    position: absolute;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 265px;
    display: none;
}

.dataTables_length,
.dataTables_filter {
    background-color: #fff;
    padding: 0 10px 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 7px;
    box-shadow: 3px 3px 7px #d4d4d4;
    margin-bottom: 20px;
}

.dataTables_filter .dataTables_info {
    padding: 0 !important;
}

table#table_id {
    width: 100% !important;
}

#table_id thead {
    background-color: #5d4409;
    color: #fff;
    text-align: center;
}

#table_id thead th {
    padding: 17px 0;
    text-align: center;
    width: 100px;
}

#table_id tbody td {
    text-align: center;
}

button.viewD {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

button.viewD img {
    height: 25px;
}

div#table_id_paginate {
    width: 100%;
    text-align: center;
    padding: 25px 0;
}

.drugs .dataTables_paginate.paging_simple_numbers a.paginate_button.current {
    background: #5d4409 !important;
    color: #fff !important;
    border: solid 1px transparent !important;
}

.drugs .dataTables_paginate.paging_simple_numbers a.paginate_button:hover {
    background: #fff !important;
    color: #5d4409 !important;
    border: solid 1px #5d4409 !important;
}

.drugs .dataTables_paginate.paging_simple_numbers a.paginate_button {
    background: #e8e8e8 !important;
    color: #000 !important;
    border: solid 1px transparent !important;
}

.textHolder {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    text-align: left;
}

.textHolder h3 {
    font-size: 18px;
    font-weight: 900;
    padding-top: 15px;
}

.textHolder p {
    font-size: 14px;
}

.textHolder img {
    width: 65%;
    margin: auto;
    display: block;
}

.textHolder ul li {
    font-size: 14px;
}

.textHolder h4 {
    font-size: 16px;
    font-weight: 900;
}

.textHolder a {
    display: block;
    padding: 5px 15px;
}

.textHolder a:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.07);
}

@media (max-width: 650px){
    div#table_id_wrapper {
        overflow: auto;
    }
    tfoot th {
        width: 100%;
    }
    img.drugsLoader {
        top: 435px;
    }
    .table-holder {
        padding-top: 500px;
    }
    .drugs .nav .nav-link span {
        font-size: 10px;
    }
    .drugs-details h3 {
        font-size: 22px;
        float: left;
        margin: 0;
        padding: 0;
        line-height: 35px;
        padding-top: 5px;
        width: 75%;
    }
    .drugs-details div {
        height: auto;
        padding: 10px 30px;
        line-height: 70px;
        border-bottom: solid 2px #e6e4e4;
        overflow: hidden;
    }
    .drugs-details ul li span {
        padding-left: 5px;
    }
}
a.excel {
    background-color: #fff;
    padding: 0 10px 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 7px;
    box-shadow: 3px 3px 7px #d4d4d4;
    margin-bottom: 20px;
    display: inline-block;
    color: #333;
    font-size: 10pt;
}
a.excel img {
    width: 28px;
    margin: 0px 5px;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
    width: 40% !important;
}

@media (max-width: 768px){
    a.excel {
        display: block;
        text-align: center;
    }
    .ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
        width: 70% !important;
    }
}

